#image-container img {
	width: 400px;
	padding: 10px;
}

#image-container2 img {
	width: 300px;
	padding: 10px;
}

#image-container3 img {
	width: 300px;
	padding: 10px;
}

.image-container {
	background-image: none;
	display: flex;
	flex-wrap: wrap;

	height: 90%;
	margin-top: 20px;
	/* scroll-snap-type: y mandatory; */
	overflow-y: scroll;
	/* scroll-behavior: smooth; */
	align-items: center;
	justify-content: center;
	/* display: grid; */
	/* grid-template-columns: 1fr 8fr 1fr; */
	/* background-image: url(other_images/bgicon-removebg-preview.png); */
	/* background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat; */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.image-container::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.image-container {
	-ms-overflow-style: none; /* IE and Edge */
	/* scrollbar-width: none; Firefox */
}

.bg section h1 {
	margin-top: 30px;
}


